nav ul
{
padding-left: 10;
margin-left: 10;
background-color: ##AA3939;
color: white;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
position: static;
}

nav ul li a
{
text-decoration: none;
}

nav ul li
{
padding: 0.2em 1em;
background-color: #2B611D;
color: white;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
display: inline;
}

nav ul li a:hover
{
background-color: #E684AA;
color: #fff;
}

nav ul li:hover
{
background-color: #E684AA;
}

nav a:link
{
color: white;
}

body
{
background-color: #E684AA;
}