nav ul
{
padding-left: 10;
margin-left: 10;
background-color: #AA3939;
color: red;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
position: static;
}

nav ul li
{
nav ul li a:hover
{
background-color: #E2F53B;
color: #E684AA;
}

nav ul li:hover
{
background-color: #3BF53B;
}

nav a:link
{
font-family: 'Titillium Web', sans-serif;
color: white;
}

body
{
background-color: #E684AA;
}


nav ul li
{
	padding; 0.2em 1em ; 
	background-color:320138
	color; White 
}


